@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  font-family: "Montserrat";
}

#body {
  @apply bg-white dark:bg-theme-950 text-black dark:text-white flex flex-row;
}

.root {
  /* @apply min-h-screen flex flex-col items-center; */
}

.logo {
  @apply text-4xl font-bold;
}

.hero-wrapper {
  @apply xl:px-44 lg:px-16 mx-4 w-auto h-auto;
}

.hero-inner {
  @apply lg:mt-32 lg:w-2/3 flex flex-col items-center mt-12;
}

.hero-image {
  @apply w-[200px] h-[200px] overflow-hidden rounded-full shadow-2xl dark:shadow-black p-4;
  @apply lg:fixed lg:bottom-0 xl:right-28 right-8 -z-10 lg:w-auto lg:h-auto lg:rounded-none lg:shadow-none;
}
