<div class="main flex flex-row dark:text-white text-black">
    <div
        class="topbar">
        <div class="flex flex-row z-50 items-center gap-4 px-4 lg:px-8 align-middle flex-grow">
            <button class=" md:hidden" onclick="toggleMenu(event)">
                <i class="fa-solid fa-circle-chevron-down fa-2x -rotate-90 transition-all"></i>
            </button>
            <a class="md:hidden text-4xl font-bold flex-grow" href="/">
                <span class="dark:text-amber-500 text-amber-700">J</span><span>H</span>
            </a>
            <button class="text-2xl ml-auto" onclick="toggleDarkMode()">
                <i class="fa-solid fa-sun dark:text-white text-black transition-all" id="theme-changer"></i>
            </button>
        </div>
    </div>
    <div class="leftpart flex" id="menu">
        <div class="flex flex-col h-full gap-2">
                <a class="text-4xl [font-weight:900] tracking-widest hidden md:block" href="/">
                <span class="dark:text-amber-500 text-amber-700">J</span><span>H</span>
            </a>
            {{$currentPage := . }}
            <div class="flex flex-grow items-center menu">
                <ul class="flex flex-col gap-5 font-semibold text-gray-400">
                    {{ range .Site.Menus.main }}
                    {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
                    {{- $page_url:= ($currentPage.Permalink | absLangURL) }}
                    <li class="k-hover cursor-pointer {{ if eq $menu_item_url $page_url }}active{{end}}">
                        <a class="nav-link" href="{{ .URL }}">
                            <h5>
                                {{ if .Pre }}
                                {{ $icon := printf "<i class=\"fa-solid fa-%s mr-2\"></i> " .Pre | safeHTML }}
                                {{ $icon }}
                                {{ end }}
                                {{ $text := print .Name | safeHTML }}
                                {{ $text }}
                            </h5>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            <div class="text-sm">
                <p>©2023 Zenex Tech</p>
                <p>Created By Javed Hussain</p>
            </div>
        </div>
    </div>