{{ define "main" }}
<div class="rightpart max-w-fit min-h-screen">
    <div class="flex flex-col lg:flex-row gap-20 items-center">
        <div class="profile-img bg-[url({{ .Site.Params.avatar }})]"></div>
        <div class="flex-grow">
            <h2 class="text-center lg:text-left text-2xl lg:text-4xl font-bold uppercase">
                {{ .Site.Params.name }}
            </h2>
            <p class="mt-4 text-center lg:text-left max-w-md text-lg">
                {{ .Site.Params.summary | markdownify }}
            </p>
            <div class="flex flex-row gap-8 mt-10 fa-2x lg:justify-start justify-center">

                {{ range .Site.Menus.social }}
                <div class="cursor-pointer k-hover">
                    <a class="nav-link" href="{{ .URL }}" target="_blank">
                        {{ if .Pre }}
                        {{ $icon := printf "<i class=\"%s mr-2\"></i> " .Pre | safeHTML }}
                        {{ $icon }}
                        {{ end }}
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
    </div>

</div>
{{ end }}